@import "./variables";
@import "./mixins";

.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    @include md {
      font-size: 2em;
      margin: 0.5em 0;
      padding: 0.5em 0;
    }
    font-size: 1.2em;
    margin: 0.5em 0;
    padding: 0.5em 0;
    color: $primaryColor;
    border-bottom: 3px solid $primaryColor;
  }
  .hading-desc {
    font-size: 1em;
    color: $grayshadedFontColor;
    font-weight: 300;
  }
}
.section-heading-with-controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .carausel-controler-sm {
    margin-right: 1em;
    margin-left: 1em;
    @include md {
      display: none;
      margin: 0 1em;
    }
  }
}
.page-content {
  background-color: $flat-light-bg-color;
  flex: 1;
  .suspension-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: $primaryColor;
  }

  .section-one {
    background-image: url("../images/curved-content-bg-upper.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 40em;
  }

  .section-two {
    background-image: url("../images/curved-content-bg-lower.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    min-height: 40em;
  }

  .section-three {
    min-height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    .education-section-content {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .education-description {
          @include md {
            width: 40%;
            font-size: 2em;
          }
          width: 90%;
          font-size: 1em;
          div#btech {
            .board {
              text-align: center;
            }
            .marks{
              text-align: center;
              margin: 1em 0;
            }
          }
        }
    }
  }

  .section-four {
    min-height: 400px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    background: $primaryGradient;
    color: $primaryColor;
    .footer {
      @include md {
        margin: 0 5em;
      }
      margin: 0 1em;
      border-bottom: 1px solid whitesmoke;
      padding-bottom: 1em;
    }
    .heading{
      text-align: center;
      .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em;
        div{
          margin: 0.3em;
        }
      }
    }
    .profile-links{
      width: 100%;
      text-align: center;
      img{
        margin: 0.5em;
        height: 2em;
        width: 2em;
      }
    }
    .copyright{
      padding: 1em 0;
      text-align: center;
    }
  }

  .section-content {
    padding-top: 1em;
    padding-bottom: 1em;
      @include md {
        padding-top: 5em;
        padding-bottom: 5em;
      }
      .work-description{
        flex: 2;
        .work-description-card{
          .description{
            font-size: 1em;
            @include md {
              font-size: 1.5em
            }
          }
          @include md {
            padding: 1em 2em 1em 1em;  
          }
          h2 {
            @include md {
              width: 100%;
              text-align: left;
            }
          }

          .technologies{
            margin-top: 1em;
            .logo{
              img {
                height: 2.5em;
                width: 2.5em;
                margin-top: 1em;
                margin-right: 1em;
              }
            }
          }
        }
      }
      .showcase-container {
        flex-wrap: wrap;
        justify-content: center;
        .show-case-items {
          width: 100%;
          min-height: 150px;
          padding: 0.5em;
          margin: 1em;
          @include md {
            width: 25%;
          }
          .showcase-heading {
            padding-bottom: 0.5em;
            text-align: center;
            border-bottom: 1px solid gray;
            width: 100%;
          }
          .showcase-description{
            width: 100%;
            flex: 1;
            font-size: small;
            margin: 0.5em 0;
            text-align: center;
            color: $grayshadedFontColor;
            font-weight: 100;
          }
          .showcase-tech-logos {
            margin: 0.5em 0;
            img {
              height: 2em;
              width: 2em;
              margin: 0 0.5em;
            }
          }
        }
      }
      .project-avatar{
          display: none;
          flex-direction: row;
          justify-content: flex-end;
          flex: 1;
          @include md {
            display: flex;
          }
      }
  }
}