@import "./variables";

.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-size: 2em;
    color: $primaryColor;
    margin: 0.5em 0;
    padding: 0.5em 0;
    border-bottom: 3px solid $primaryColor;
  }
  .hading-desc {
    font-size: 1em;
    color: $grayshadedFontColor;
    font-weight: 300;
  }
}

.page-content {
  background-color: $flat-light-bg-color;
  flex: 1;
  .suspension-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: $primaryColor;
  }

  .section-one {
    background-image: url("../images/curved-content-bg-upper.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 40em;
  }

  .section-two {
    background-image: url("../images/curved-content-bg-lower.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    min-height: 40em;
  }

  .section-content {
      padding-top: 10em;
      padding-bottom: 10em;
      .project-avatar{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          flex: 1;
      }
  }
}
