@import './mixins';
@import './variables';

#triangle-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid $primaryColor;
  border-bottom: 5px solid transparent;
}

#triangle-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid $primaryColor;
  border-bottom: 5px solid transparent;
}

.slider-content{
  width: 95%;
  padding: 0 1em;
  @include md {
    width: 90%; 
    padding: 0 5em;
  }
}
.carausel-controler {
  display: none;
  @include md {
    display: flex;
    width: 5%; 
    justify-content: flex-end;
  }
}

.carausel-controler-sm {
  @include md {
    display: none;
  }
}

.slider-content.hide-out-left {
  animation: hideOutLeft ease-out 0.5s forwards;
}

.slider-content.show-in-left {
    animation: showInLeft ease-in 0.5s forwards;
  }



.slider-content.hide-out-right {
  animation: hideOutRight ease-out 0.5s forwards;
}

.slider-content.show-in-right {
  animation: showInRight ease-out 0.5s forwards;
}



@keyframes hideOutLeft {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }

  to {
    transform: translate(-100%, 0);
    opacity: 0;
  }
}

@keyframes hideOutRight {
    from {
      transform: translate(0, 0);
      opacity: 1;
    }
  
    to {
      transform: translate(100%, 0);
      opacity: 0;
    }
  }

@keyframes showInLeft {
  from {
    transform: translate(100%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes showInRight {
    from {
      transform: translate(-100%, 0);
    }
  
    to {
      transform: translate(0, 0);
    }
  }
