@import './variables';
@import './mixins';
@font-face {
  font-family: salsaFont;
  src: url('../fonts/Salsa-Regular.ttf');
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex: 1;
}


body {
  margin: 0em;
  padding: 0em;
  font-family: salsaFont;
  .main {
    display: flex;
    flex-direction: column;
  }
  .page-heading {
    min-height: 90vh;
    background: linear-gradient(111.2deg, #2E346D 3.58%, rgba(135, 145, 233, 0) 99%);
    background-blend-mode: hue;
    mix-blend-mode: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include md {
      min-height: 690px;
      background: none;
      background-blend-mode: normal;
      mix-blend-mode: normal;
      background-color: $flat-light-bg-color;
      background-image: url('../images/wave-bg.svg');
      background-repeat: no-repeat;
      background-size: contain;
      justify-content: flex-start;
    }
    .info-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      @include md {
        padding-top: 5em;
        align-items: flex-start;
      }
      .info {
        flex: 1;
        .designation {
          font-size: 2em;
          margin: 0.5em 0;
          @include md {
            letter-spacing: 0.3em;
            margin-top: 1em;
            font-size: 2.2em;
            font-weight: 700;
            color: $primaryColor;
          }
          animation: lightUpElement 2s ease forwards, moveUp 2s ease forwards;
        }
        .profile-description{
          font-weight: 500;
          font-size: 0.9em;
          margin-top: 1em;
          @include md {
            font-weight: 700;
            font-size: 1em;
            color: $lightFontColor;
            letter-spacing: 0.15em;
            line-height: 1.5em;
          }
          animation: lightUpElement 2s ease forwards, moveUp 2s ease forwards;
        }
        .name-text {
          width: 300px;
          fill: $primaryColor;
          @include md {
            width: 400px;
          }
          path {
            stroke: #e5e7f6;
            stroke-width: 3;
            stroke-dasharray: 390;
            stroke-dashoffset: 390;
            fill: transparent;
            animation: line-anime 2s ease forwards, fill 0.7s ease forwards 2.1s;
          }
        }
      }

      .desc-image {
        display: none;
        flex-direction: row;
        justify-content: flex-end;
        @include md {
          display: flex;
        }
        #image {
          animation: lightUpElement 2s ease forwards;
          #human {
            animation: inFromLeft 0.5s ease forwards;
          }
          #flower {
            animation: inFromRight 1s ease forwards;
          }
          #surface {
            animation: inFromRight 0.5s ease forwards;
          }
          #window {
            transform-origin: bottom;
            animation: inFromRight 1s ease forwards;
          }
          #right-hand {
            animation: keyBoardPress 0.3s ease infinite alternate;
          }
          #left-hand {
            animation: keyBoardPress 0.5s ease infinite alternate;
          }
          #laptop {
            animation: inFromRight 2s forwards;
          }
          #avatar-shadow,
          #page-banner-shadow,
          #page-element-first-shadow,
          #page-element-sec-shadow,
          #page-element-third-shadow,
          #page-element-fourth-shadow {
            animation: moveDiagonally 0.8s ease infinite alternate;
          }
        }
      }
    }
  }
}

@keyframes inFromRight {
  from {
    transform: translate(10%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes inFromLeft {
  from {
    transform: translate(-10%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes moveDiagonally {
  from {
    transform: translate(-1%, 1%);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes moveUp {
  from {
    transform: translate(0, 100%);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes keyBoardPress {
  to {
    transform: rotate(0.5deg);
  }
  from {
    transform: rotate(0deg);
  }
}

@keyframes lightUpElement {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes line-anime {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }

  to {
    fill: #e5e7f6;
  }
}

@keyframes scaleElment {
  from {
    transform: scale(0.98);
  }

  to {
    transform: scale(1);
  }
}

.container {
  padding: 0 1em;
  @include md {
    padding: 0 10em;
  }
}
