@import './variables';

.page-content {
    background-color: $flat-light-bg-color;
    flex: 1;
    .suspension-text{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        color: $primaryColor;
    }
}